.DS_Store
*.tmproj
Issue Stats tracks the time it takes for your project to close issues or merge pull requests. You can then display this data through a convenient badge in your project's README file or elsewhere. Issue Stats are easy to get started with, easy to understand, and simple to incorporate into your project — be sure to also check out the other analyses and visualization too.

Second Place

In second place is GitHut (repository), by @littleark
